<div class="jumbotron">
    <h2>Creación de estudiantes</h2>

    <div>
      <p class="lead">
        <span>Nombre completo:</span>
        <input type="text"[(ngModel)]="newDelivery.fullName">
      </p>
    </div>
    <div>
      <p class="lead">
        <span>Direccion:</span>
        <input type="text" [(ngModel)]="newDelivery.fullAddress">
      </p>
    </div>
    <div>
      <p class="lead">
        <span>Email:</span>
        <input type="text" [(ngModel)]="newDelivery.email">
      </p>
    </div>
    <div>
        <p class="lead">
          <span>Descripcion:</span>
          <input type="text" [(ngModel)]="newDelivery.description">
        </p>
      </div>
    <div>
        <div>
            <h2>Cantidad de ordenes: {{deliveriesSize}} </h2>
        </div>
      <button type="button" class="btn btn-primary" (click)="saveDeliveryOrder()">Guardar</button>
    </div>
  </div>